{{define "add-product"}}
<h1 class="title">{{.Title}}</h1>
<form method="POST" action="/add-product" class="box">
  <div class="field">
    <label class="label">Product Name</label>
    <div class="control">
      <input
        class="input"
        type="text"
        name="product_name"
        placeholder="Product Name"
        required
      />
    </div>
  </div>
  <div class="field">
    <label class="label">Unit Price</label>
    <div class="control">
      <input
        class="input"
        type="number"
        name="unit_price"
        step="0.01"
        placeholder="Unit Price"
        required
      />
    </div>
  </div>
  <div class="field">
    <label class="label">Unit</label>
    <div class="control">
      <input
        class="input"
        type="text"
        name="unit"
        placeholder="Unit"
        required
      />
    </div>
  </div>
  <div class="field">
    <label class="label">Weight</label>
    <div class="control">
      <input
        class="input"
        type="number"
        step="0.01"
        name="weight"
        placeholder="Weight"
        required
      />
    </div>
  </div>
  <div class="field">
    <label class="label">Category</label>
    <div class="control">
      <div class="select">
        <select name="category_id" required>
          {{ range.Categories }}
          <option value="{{.ID}}">{{.CategoryName}}</option>
          {{ end }}
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label">Status</label>
    <div class="control">
      <div class="select">
        <select name="status" required>
          <option value="true">Active</option>
          <option value="false">Inactive</option>
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button class="button is-link" type="submit">Add Product</button>
    </div>
  </div>
</form>
{{ end }}

