{{define "list-products"}}
<div class="columns">
  <div class="column is-one-quarter">
    <form method="GET" action="/" class="box">
      <div class="field">
        <label class="label">Product ID</label>
        <div class="control">
          <input
            class="input"
            type="number" 
            name="product_id"
            placeholder="Product ID"
            value="{{.Filters.ProductID}}"
          />
        </div>
      </div>
      <div class="field">
        <label class="label">Product Name</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="product_name"
            placeholder="Product Name"
            value="{{.Filters.ProductName}}"
          />
        </div>
      </div>
      <div class="field">
        <label class="label">Category</label>
        <div class="control">
          <div class="select">
            <select name="category_id">
              <option value="">All Categories</option>
              {{range .Categories}}
              <option
                value="{{.ID}}"
                {{if
                eq
                (print .ID)
                $.Filters.CategoryID}}selected{{end}}
              >
                {{.CategoryName}}
              </option>
              {{end}}
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Status</label>
        <div class="control">
          <div class="select">
            <select name="status">
              <option value="">All Status</option>
              <option value="true" {{if eq $.Filters.Status "true"}}selected{{end}}>Active</option>
              <option value="false" {{if eq $.Filters.Status "false"}}selected{{end}}>Inactive</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" type="submit">Filter</button>
        </div>
        <div class="control">
          <a class="button is-light" href="/">Reset</a>
        </div>
      </div>
    </form>
  </div>
  <div class="column">
    <h1 class="title">Product List</h1>
    <table class="table is-fullwidth is-striped">
      <thead>
        <tr>
          <th>Product ID</th>
          <th>Product Name</th>
          <th>Unit Price</th>
          <th>Unit</th>
          <th>Weight</th>
          <th>Category</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{ range.Products }}
        <tr>
          <td>{{.ID}}</td>
          <td>{{.ProductName}}</td>
          <td>{{.UnitPrice}}</td>
          <td>{{.Unit}}</td>
          <td>{{.Weight}}</td>
          <td>{{.CategoryID}}</td>
          <td>{{if .Status}}Active{{else}}Inactive{{ end }}</td>
          <td>
            <a href="/edit-product/{{.ID}}" class="button is-small is-info"
              ><i class="fas fa-edit"></i
            ></a>
          </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</div>
{{ end }}
